@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "header";
@import "user";
@import "content";
@import "search";
@import "theme-content";
@import "action";
@import "selector";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
  line-height: normal;

  &:hover {
    overflow-y: auto;
    overflow-x: hidden;
  }

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.6);
  }

}

.content {
  position: relative;
}

.wrapper {
  height: 100vh;
}

.material-icons {
  user-select: none;
  cursor: pointer;
}

.material-icons.md-24 {
  font-size: 36px;
}